<configuration>
    <conversionRule
            conversionWord="traceID"
            converterClass="kamon.instrumentation.logback.tools.TraceIDConverter"/>

    <conversionRule
            conversionWord="spanID"
            converterClass="kamon.instrumentation.logback.tools.SpanIDConverter"/>

    <conversionRule
            conversionWord="contextTag"
            converterClass="kamon.instrumentation.logback.tools.ContextTagConverter"/>

    <conversionRule
            conversionWord="contextEntry"
            converterClass="kamon.instrumentation.logback.tools.ContextEntryConverter"/>

    <appender name="STDOUT-APPENDER" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] [%replace(%traceID){'undefined', '-'},%replace(%spanID){'undefined', '-'}] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT-APPENDER" />
    </root>
</configuration>